<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>微笑</key>
	<string>weixiao</string>
	<key>撇嘴</key>
	<string>pizui</string>
	<key>色</key>
	<string>se</string>
	<key>发呆</key>
	<string>fadai</string>
	<key>得意</key>
	<string>deyi</string>
	<key>流泪</key>
	<string>liulei</string>
	<key>害羞</key>
	<string>haixiu</string>
	<key>闭嘴</key>
	<string>bizui</string>
	<key>睡</key>
	<string>shuijiao</string>
	<key>大哭</key>
	<string>daku</string>
	<key>尴尬</key>
	<string>gangga</string>
	<key>发怒</key>
	<string>danu</string>
	<key>调皮</key>
	<string>tiaopi</string>
	<key>呲牙</key>
	<string>ciya</string>
	<key>惊讶</key>
	<string>jingya</string>
	<key>难过</key>
	<string>nanguo</string>
	<key>酷</key>
	<string>ku</string>
	<key>冷汗</key>
	<string>lenghan</string>
	<key>抓狂</key>
	<string>zhemo</string>
	<key>吐</key>
	<string>tu</string>
	<key>偷笑</key>
	<string>touxiao</string>
	<key>愉快</key>
	<string>keai</string>
	<key>白眼</key>
	<string>baiyan</string>
	<key>傲慢</key>
	<string>aoman</string>
	<key>饥饿</key>
	<string>e</string>
	<key>困</key>
	<string>kun</string>
	<key>惊恐</key>
	<string>jingkong</string>
	<key>流汗</key>
	<string>liuhan</string>
	<key>憨笑</key>
	<string>haha</string>
	<key>悠闲</key>
	<string>dabing</string>
	<key>奋斗</key>
	<string>fendou</string>
	<key>咒骂</key>
	<string>ma</string>
	<key>疑问</key>
	<string>wen</string>
	<key>嘘</key>
	<string>xu</string>
	<key>晕</key>
	<string>yun</string>
	<key>疯了</key>
	<string>zhuakuang</string>
	<key>衰</key>
	<string>shuai</string>
	<key>骷髅</key>
	<string>kulou</string>
	<key>敲打</key>
	<string>da</string>
	<key>再见</key>
	<string>zaijian</string>
	<key>擦汗</key>
	<string>cahan</string>
	<key>抠鼻</key>
	<string>wabi</string>
	<key>鼓掌</key>
	<string>guzhang</string>
	<key>糗大了</key>
	<string>qioudale</string>
	<key>坏笑</key>
	<string>huaixiao</string>
	<key>左哼哼</key>
	<string>zuohengheng</string>
	<key>右哼哼</key>
	<string>youhengheng</string>
	<key>哈欠</key>
	<string>haqian</string>
	<key>鄙视</key>
	<string>bishi</string>
	<key>委屈</key>
	<string>weiqu</string>
	<key>快哭了</key>
	<string>kuaikule</string>
	<key>阴险</key>
	<string>yinxian</string>
	<key>亲亲</key>
	<string>qinqin</string>
	<key>吓</key>
	<string>xia</string>
	<key>可怜</key>
	<string>kelian</string>
	<key>菜刀</key>
	<string>caidao</string>
	<key>西瓜</key>
	<string>xigua</string>
	<key>啤酒</key>
	<string>pijiu</string>
	<key>篮球</key>
	<string>lanqiu</string>
	<key>乒乓</key>
	<string>pingpang</string>
	<key>咖啡</key>
	<string>kafei</string>
	<key>饭</key>
	<string>fan</string>
	<key>猪头</key>
	<string>zhutou</string>
	<key>玫瑰</key>
	<string>hua</string>
	<key>凋谢</key>
	<string>diaoxie</string>
	<key>嘴唇</key>
	<string>kiss</string>
	<key>爱心</key>
	<string>love</string>
	<key>心碎</key>
	<string>xinsui</string>
	<key>蛋糕</key>
	<string>dangao</string>
	<key>闪电</key>
	<string>shandian</string>
	<key>炸弹</key>
	<string>zhadan</string>
	<key>足球</key>
	<string>qiu</string>
	<key>瓢虫</key>
	<string>chong</string>
	<key>便便</key>
	<string>dabian</string>
	<key>月亮</key>
	<string>yueliang</string>
	<key>刀</key>
	<string>dao</string>
	<key>太阳</key>
	<string>taiyang</string>
	<key>礼物</key>
	<string>liwu</string>
	<key>拥抱</key>
	<string>yongbao</string>
	<key>强</key>
	<string>qiang</string>
	<key>弱</key>
	<string>ruo</string>
	<key>握手</key>
	<string>woshou</string>
	<key>胜利</key>
	<string>shengli</string>
	<key>抱拳</key>
	<string>peifu</string>
	<key>勾引</key>
	<string>gouyin</string>
	<key>拳头</key>
	<string>quantou</string>
	<key>差劲</key>
	<string>chajin</string>
	<key>爱你</key>
	<string>aini</string>
	<key>no</key>
	<string>no</string>
	<key>ok</key>
	<string>ok</string>
	<key>爱情</key>
	<string>aiqing</string>
	<key>飞吻</key>
	<string>feiwen</string>
	<key>跳跳</key>
	<string>tiao</string>
	<key>发抖</key>
	<string>fadou</string>
	<key>怄火</key>
	<string>dajiao</string>
	<key>转圈</key>
	<string>zhuanquan</string>
	<key>磕头</key>
	<string>ketou</string>
	<key>回头</key>
	<string>huitou</string>
	<key>跳绳</key>
	<string>tiaosheng</string>
	<key>投降</key>
	<string>huishou</string>
	<key>激动</key>
	<string>jidong</string>
	<key>街舞</key>
	<string>tiaowu</string>
	<key>献吻</key>
	<string>xianwen</string>
	<key>左太极</key>
	<string>zuotaiji</string>
	<key>右太极</key>
	<string>youtaiji</string>
</dict>
</plist>
